<%- include('includes/head.ejs') %>
</head>
<body class="">
    <main class="main-content">
        <div class="" style="background: url('/img/404.svg');">
            <div class="container">
                <div class="row justify-content-center align-items-center min-vh-100">
                    <div class="col-lg-6 col-md-7 mx-auto text-center">
                      <h1 class="text-primary display-1">Error 404</h1>
                      <h2 class="display-3">Erm. Page not found</h2>
                      <p class="lead text-info">We suggest you to go to the homepage while we solve this issue.</p>
                      <a href="/" class="btn btn-primary btn-lg mt-4">Go to Homepage</a>
                    </div>
                  </div>
            </div>
        </div>
    </main>
<%- include('includes/end.ejs') %>